DB_HOST=172.18.0.10
DB_USER=admin
DB_PASSWORD=admin
DATA_BASE=db
REFRESH=bSXN+TpR//1VeZ/S0nAY2exgzxdxicJKF6eK3W5OgsFHofY1RZLwmIC+2vdNYUE/I9+nBjnQ/hEGjIXPDmk3E0tusVWoFlim7WtOLhchPdkGqvJt1vhdSlJM8F84SUVbZiDeCjdh97KniTWUBRmz6WJ/D2USr2+1xP3tHnOOsp0YbDH0kIn5OoafCLPD38K9hnjwJtOQ46vw//vnVt7Dcis6I2uvPpef4WTvAWTFSrHWRSxIn6HNSjWbbTt++YUPWxEW94GpYrNptmzOGO+dcICUCyDwslTYLSAhGaGpjrdhCpFwAo6ZO/02HT4E1AADcoLR/FPyyYVYIYoJOkuZRg==
TOKEN=o+Y+JmbOZIeslfraMItFsp6plhdLG4f5dfjFc+iKafDMtpXBdExwVmcwMGJyxZSoh+7Y+B3M/KRcyGJjQbeDGKkl9Z46l76u49gScrm9LOslZ6H9b7wAVxkkrc7X7yDTkln39+hxksP/jwIKh18tuyWxX/MO7BZv6fKJPKijJPebZnkI1wXAD72x5j6U6iIcporRmDqU44Fg/HDdbfFlsQyPQE5J4ouRNt6ZuoetQq4jzR2nLkTm9w8mqJcg4ys+i7G/ojtCG5puedvVJeN2Fx1FECUwM+hrOQvTcmYvsAN8XKUats6N7Ln3Sixma2X4rpGCoCIssVn64GbzwMOsvQ==